<table class="table table-hover" style="margin:20px">
	<thead>
		<tr>
			<th (click)="sortTable(0)" style="cursor:pointer">First Name<font color="{{color[0]}}" size="1">{{arrow[0]}}</font></th>
			<th (click)="sortTable(1)" style="cursor:pointer">Last Name<font color="{{color[1]}}" size="1">{{arrow[1]}}</font></th>
			<th (click)="sortTable(2)" style="cursor:pointer">Address<font color="{{color[2]}}" size="1">{{arrow[2]}}</font></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let x of Jarr">
			<td>{{x.fname}}</td>
			<td>{{x.lname}}</td>
			<td>{{x.addr}}</td>
		</tr>
	</tbody>
</table>
<br>
<!-- Fetch JSON from a web api -->

<br>
<button class="btn btn-danger" style="margin: 10px; margin-left: 40px" (click)="exJson()">Example JSON</button><br>
<mat-checkbox [(ngModel)]="checkboxValue" style="margin: 10px"> Extract Data</mat-checkbox>
<mat-checkbox [(ngModel)]="checkboxValue2" (change)="capital()" style="margin: 10px"> Capital Data</mat-checkbox><br>
{{(checkboxValue ? (jData.body):(jData | json))}}

<!-- {{checkboxValue2 ? (checkboxValue ? (jData.body|uppercase):(jData | json)):(checkboxValue ? (jData.body|lowercase):(jData | json))}}
 -->
<br><br><br><br>